name: CI

on:
  push:
    branches:
      - '**'
    paths-ignore:
      - '**/*.md'
  workflow_dispatch:
    inputs:
      release:
        description: 'Release'
        required: true
        default: 'true'
      new_version:
        description: 'New version'
        required: true
        default: 'one of <newversion> | major | minor | patch | premajor | preminor | prepatch | prerelease'

jobs:
  pre_job:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          github_token: ${{ github.token }}
          paths_ignore: '["**/*.md"]'

  ci:
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_skip == 'false' }}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - uses: actions/checkout@v2
      - run: git config --global user.email "mail@felixkirchengast.at"
      - run: git config --global user.name "Felix Kirchengast (GitHub Action)"
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-cache-node-modules-${{ hashFiles('**/package-lock.json') }}
      - run: npm cache verify
      - run: npm ci
      - run: npm run lint
      - run: npm run build
      - run: npm run test
      - run: git diff --exit-code
      - name: Release
        if: ${{ github.event.inputs.release == 'true' }}
        run: |
          npm version ${{ github.event.inputs.new_version }} --git-tag-version=true
          npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"
          npm publish
          git push origin && git push origin --tags
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
